<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Messenger</title>
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/style.css" rel="stylesheet">
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script src="/app.js"></script>
</head>
<body>
<h1>Hello</h1>

<div class="message-container" id="all-messages-table">
    <div th:each="message : ${allMessages}">
        <span th:text="${message.getTimestamp()} "></span>
        <span th:style="'color:'+${message.getUser().getColorCode()} +';'"
              th:text="${message.getUser().getName()} + ' : '"></span>
        <span th:text="${message.getText()}"></span>
    </div>
</div>

<form>
    <label for="message-input">Your message: </label>
    <input id="message-input" type="text"/>
    <button id="send" type="submit">Send</button>
</form>
</body>
</html>