<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Messenger</title>
</head>
<body>
<h1>Hello</h1>

<table>
    <th:block th:each="message : ${allMessages}">
        <tr>
            <td>
                <span th:text="${message.getTimestamp()} "></span>
                <span th:text="${message.getUsername()} + ' : '"></span>
                <span th:text="${message.getText()}"></span>
            </td>
        </tr>
    </th:block>
</table>

<form method="post" th:object="${newMessage}">
    <label for="message-input">Your message: </label>
    <input id="message-input" th:field="*{text}" type="text"/>
    <button type="submit">Send</button>
</form>
</body>
</html>